<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7493508024-psk2c6m2lvqkd7vs7t0i9u45hei8aum4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7493508024-psk2c6m2lvqkd7vs7t0i9u45hei8aum4</string>
	<key>API_KEY</key>
	<string>AIzaSyCw5wve9_i-PQJmltxoRz9AJ3VXKLOTvC0</string>
	<key>GCM_SENDER_ID</key>
	<string>7493508024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-494e4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-494e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7493508024:ios:99f1814d241f7800168d4d</string>
</dict>
</plist>